:root{
    --main-color: #e08318;
    --gray-color:#aeef2d;
    --linear-gradient:linear-gradient(to right, rgba(255, 255, 255, 0.71), rgba(243, 233, 231, 0.4));
    --black-color: #000;
    --white-color:#000000;
}